body{

    background-color: #f0ece163;
}

   
    p{

        font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
    }


h2{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    font-size: 55px;


}
h4{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    font-size: 55px;


}

*{

    font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}







td {
    font-size: 80%;
}


.col-formu-panel {
    margin-bottom: 1%;
    margin-top: 1%;
}




button.btn.panel-btn {
    background: #a48a6c;
    border: 1px solid #a48a6c;
    color: white;
}


a.btn.btn-primary.btn-sm.btn-editar{
    background: #a48a6c;
    border: 1px solid #a48a6c;
    color: white;

}

a.btn.btn-primary.btn-sm.btn-eliminar{
    background: #a48a6c;
    border: 1px solid #a48a6c;
    color: white;

}







































































